@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

* {
  transition: background 600ms ease-in-out;
  -webkit-transition: background 600ms ease-in-out;
  -moz-transition: background 600ms ease-in-out;
  -ms-transition: background 600ms ease-in-out;
  -o-transition: background 600ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#circle,
#draw,
#light-lines {
  transition: fill .5s ease-in-out, stroke .5s ease-in-out, filter .5s ease-in-out;
}

#circle {
  fill: #2C2C2C;
  stroke: #3F3F3F;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
}

.light-bulb:hover #circle {
  fill: #FFD700;
  stroke: #FFEC8B;
  filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.7));
}

#draw {
  stroke: #4C4C4C;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.light-bulb:hover #draw {
  stroke: #FF4500;
  filter: drop-shadow(0 0 6px rgb(255, 69, 0, 0.6));
}

#light-lines {
  stroke: transparent;
}

.light-bulb:hover #light-lines {
  stroke: #FFEC8B;
  filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.7));
}

.navigation {
  grid-template-areas:
    "none button"
    "menu menu";
}

.button-area {
  grid-area: button;
}

.menu-area {
  grid-area: menu;
}
