@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

* {
  transition: background 600ms ease-in-out;
  -webkit-transition: background 600ms ease-in-out;
  -moz-transition: background 600ms ease-in-out;
  -ms-transition: background 600ms ease-in-out;
  -o-transition: background 600ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#circle,
#draw,
#light-lines {
  transition: fill .5s ease-in-out, stroke .5s ease-in-out, filter .5s ease-in-out;
}

#circle {
  fill: rgba(44, 44, 44, 0.14);
  stroke: rgb(63, 63, 63);
}

.light-bulb:hover #circle {
  fill: rgba(255, 215, 0);
  stroke: rgb(255, 236, 139);
  filter: drop-shadow(0 0 10px rgba(255, 250, 205));
}

#draw {
  stroke: rgb(76, 76, 76);
}

.light-bulb:hover #draw {
  stroke: rgb(255, 69, 0);
  filter: drop-shadow(0 0 6px rgb(255, 99, 71));
}

#light-lines {
  stroke: transparent;
}

.light-bulb:hover #light-lines {
  stroke: rgb(255, 250, 205);
  filter: drop-shadow(0 0 10px rgba(255, 250, 205));
}
